.egg-icon, 
.bread-icon,
.cheese-icon,
.fruits-icon,
.vegetable-icon,
.meat-icon,
.drinks-icon,
.snacks-icon,
.desserts-icon,
.packages-icon {
  height: 1.7rem; 
  width: auto;
}

.drop-down-menu {
  padding: 1rem;
}

.map-section {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  height: 27rem; 
  width: auto;
}

.pop-up-menu {
  display: flex;
}

.food-categories {
  border: 1px solid red;
}









