* {
  box-sizing: border-box;
}

body {
  background-color: rgb(98, 103, 93);
}

.egg-icon, 
.bread-icon,
.cheese-icon,
.fruits-icon,
.vegetable-icon,
.meat-icon,
.drinks-icon,
.snacks-icon,
.desserts-icon,
.packages-icon {
  height: 1.7rem; 
  width: auto;
}

.drop-down-menu {
  padding: 1rem;
  
}

.map-section {
 text-align: center;
  height: 21rem; 
  width: auto;
}

.pop-up-menu {
  display: flex;
}

.food-categories {
  border-right: 1px solid rgb(194, 194, 194);
}


.placeholder {
  height: 18rem;
  width: auto;
  margin-left: 3rem;
}

.map-placeholder {
  height: 18rem;
  width: auto; 
  margin: 1rem;
  
}

.food-item-list {
  max-height: 33rem;
  min-height: 33rem;
  width: 100%;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
}

.food-item-list img {
  margin-bottom: 2rem;
}

.food-item-list section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 400px);
  margin-left: 2rem;
}


.open-items-menu {
  text-align: center;
}

/* Product Item */

.product-wrapper { 
  margin: 2rem;
  width: 11.3rem;
  position: relative;
  
}

.product-image-section button {
  all: unset;
  background-color: rgb(0, 0, 0, 0.75);
  text-align: center;
  padding: 0.5rem;
  width: 4rem;
  z-index: 2;
  color: rgb(255, 255, 255);
  border-radius: 33px;
  position: absolute;
  margin-left: -4rem;
  margin-top: 1rem;
  transition: 0.3s ease-out;
}


.product-image-section button:hover {
  background-color: rgb(16, 194, 0);
  color: black;
  cursor: pointer;
}

.product-image-section img {
  height: 13rem;
  min-width: 156px;
  width: auto; 
  z-index: 0;
  border-radius: 5px;
  margin-bottom: 0rem;
}

.product-wrapper h3 {
  font-weight: 300;
  font-size: 22px;
  margin-top: 0.7rem;
  margin-bottom: 0.8rem;
}

.product-wrapper h5 {
  font-weight: 300;
  font-size: 14px;
  margin-top: 0rem;
  margin-bottom: 0.8rem;
}




@media only screen and (max-width: 1160px) {
  .food-item-list section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 400px);
  }
}

@media only screen and (max-width: 900px) {
  .food-item-list section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 400px);
  }
}

@media only screen and (max-width: 670px) {
  .food-item-list section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 400px);
  }
}
