.body {
  overflow: scroll !important;
}

.checkout-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  outline: none;
  overflow: scroll !important;
  background-color:#f1f1f1;
  background-size: 60vh auto ;
  background-position: center 5%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.back-to-shop {
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  margin: 30px 30px 0px 30px;
  outline: none;
}

.containers {
  display: flex;
  flex-direction: column;
}
.page-title {
  font-family: none;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 30px 40px;
  color: lightgray;
  text-shadow: 1px 1px lightgrey;
}
.checkout-info {
  display: flex;
  flex-direction: column;

}
.summary {
  font-family: none;
  background-color: white;
  padding: 20px 20px;
  margin: 20px 10px;
  width: 70%;
  display: flex;
  align-self: center;
  flex-direction: column;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
}

.summary-title {
  font-size: 12px;
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.summary-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-family: 'none';
  background-color: white;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: scroll;
  height:150px;
}

.summary-product {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  margin: 0px 10%;
}


.delivery {
  width: 70%;
  align-self: center;
  font-family: none;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  background-color: white;
  padding: 20px 20px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
}
.delivery-form {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  width: 70%;
  margin-left: 20px;
}

.delivery-form input {
  background-color: #fcffd5;
  border: 0.5px solid lightyellow;
}

.hidden {
  visibility: hidden;
}
.shown {
  visibility: visible;
}

.facturation-title {
  margin-bottom: 20px;
  margin-left: 20px;
  align-self: center;
}
#first_name {
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
}

#last_name {
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
}

#email {
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
}

#address {
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
}
#city {
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
}
.success {
  text-align: center;
}
.success h2 {
  color: white;
  font-family: none;
  letter-spacing: 0.2em;
  font-size: 18px;
  margin-top:40px
}

.success-email {
  text-align: center;
  color: white;
  font-family: none;
  font-size: 18px;
  margin-top:10px;
}
.success a {
  display: block;
  color: rgb(225, 225, 255);
  line-height: 30px;
}

.checkout-form {
  padding: 20px 40px;
  margin: 20px 10px;
  width: 70%;
  background-color: #fff;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-self: center;
}
.checkout-form p {
  text-align: center;
  font-family: none;
  letter-spacing: 0.1em;
}
.checkout-form label {
  min-width: 500px;
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.checkout-form input, .checkout-form .StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}
.checkout-form input::placeholder, .checkout-form .StripeElement::placeholder {
  color: #aab7c4;
}
.checkout-form input:focus, .checkout-form .StripeElement:focus, .checkout-form input .StripeElement--focus, .checkout-form .StripeElement .StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}
.checkout-form .order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 5%;
  background-color: #008cdd;
  border: 1px solid #008cdd;
  font-size: 1em;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  padding: 0.5em 1em;
  width: 200px;
  transition: opacity 200ms;
  cursor: pointer;
}
.checkout-form .order-button.success {
  background-color: seagreen;
  border-color: seagreen;
}
.checkout-form .order-button:hover {
  opacity: 0.8;
}
.checkout-form .order-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.checkout-form a {
  display: block;
  text-align: center;
  margin-top: 1em;
}
.pay-btn {
  margin-left: 120px;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
}
h3 {
  font-family: none;
  font-weight: lighter;
  letter-spacing: 0.1em;
  display: flex;
  align-self: center;
}

.continue-btn {
  background-color: transparent;
  outline: none;
  border:none;
  display: inline-block;
  margin:8px;
  margin-top: 4rem;
  padding: 12px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: bold;
}
.continue-btn:after {
  outline: none;
  border:none;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #518056;
  z-index: -2;
}
.continue-btn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  color:#518056;
  z-index: -1;
}
.continue-btn:hover {
  background-color: white;
  color:#518056;
}
.continue-btn:hover:before {
  width: 100%;
}