.MuiDrawer-paperAnchorBottom {
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px ;
}

.pop-up-menu {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}

.visible{
  background-color: darkgreen;
}

.grid {
  width: 100%;
  display: flex !important;
  flex-flow: wrap !important;
  margin: 20px;
  overflow: hidden;
}

.food-item-list {
  width: 100%;
}

.product-wrapper {
  width: 100px;
  height: 200px
}

.product-wrapper h3 {
  font-size: 14px;
}

.product-wrapper h5 {
  font-size: 10px;
}

.product-image-section img {
  height: 6em;
  width: 6em;
  min-width: 0;
}

.cart-title {
  font-family: none;
  font-size: 16px;
  margin:20px;
}
.cart-product {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.cart-product-amount {
  font-family: none;
  align-self: center;
}

.cart-name {
  font-size: 16px;
  margin-right: 20px;
}

.cart-price {
  font-size: 12px;
  margin-left: 20px;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px
}

