.MuiButton-label {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.5em;
  font-family: none;
}

#simple-menu {
  background-color: transparent;
  color: black;
  text-decoration: none;
}

.menu-item {
  color: white;
  font-size: 15px;
  text-decoration: none;
  outline: none;
  background-color: transparent;
}

.userInfo {
  color: white;
  font-size: 15px;
  text-decoration: none;
  outline: none;
  background-color: transparent;
}

.NavMenu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.userInfo {
  letter-spacing: 0.5em;
  color: rgb(50, 99, 50);
  font-family: none;
  margin: 10px 40px 0px 40px;
  font-size: 16px;
}

