.register {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-left: 80px;
  line-height: 30px ;
  background-color: transparent;
  display: flex;
  border-radius: 10%;
  justify-content: center;
}

.questionLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-register {
  color: white;
  font-size: 14px;
}

#login-reg {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;

}
.register-form {
  margin: 30px;
  text-align: center;
  display: contents;
}

.register-form input{
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15) !important;
}

.register-title {
  font-size: 24px;
  font-family: none;
  letter-spacing: 0.5em;
  color: white;
}

input {
  background-color: ivory;
  border: 0.5px solid white
}

.button-rgs {
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 10%;
  font-family: none;
  text-transform: uppercase;
  color: white;
}

#login-reg {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
}